.container {
    width: 500px;
    margin: 100px auto;
}

.ant-row-middle {
    flex-direction: column;
    padding-top: 150px;
}

h3.ant-typography {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.ant-form-item-control-input-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form-forgot {
    display: block;
    margin-right: 15px;
}